body {
    margin: 5px;
    background-color: whitesmoke;
    font-size: 18px;
}

button {
    position: absolute;
    right: 20px;
}

.btn2 {
    position: relative;
    left: 280px;
}

input {
    position: absolute;
    left: 260px;
}

.liste {
    border-collapse: 5px;
    background-color: rgba(89, 155, 235, 0.15);
    text-shadow:  1px 1px #919198;
}

.summary {
    position: relative;
    background-color: rgba(201, 145, 232, 0.15);
    text-align: left;
    text-shadow:  1px 1px #919198;
    top: 25px;
    padding-left: 40px;
}

.editor {
    border-collapse: 5px;
    background-color: rgba(153, 191, 48, 0.15);
    text-align: left;
    text-shadow:  1px 1px #919198;
    font: 700;
    padding-left: 40px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.pad {
    margin-left: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.lefty {
    position: relative;
    left: -150px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}